
#cover {
  background: #ffffff url("../images/cover.jpg") no-repeat;
  background-size: 100% 100%;
}


#a1 {
    background: #ffffff url("../images/slides/1.jpg") no-repeat;
    background-size: 100% 100%;
}

#a2 {
    background: #ffffff url("../images/slides/2.jpg") no-repeat;
    background-size: 100% 100%;
}

#a3 {
    background: #ffffff url("../images/slides/3.jpg") no-repeat;
    background-size: 100% 100%;
}

#a4 {
    background: #ffffff url("../images/slides/4.jpg") no-repeat;
    background-size: 100% 100%;
}

#a5 {
    background: #ffffff url("../images/slides/5.jpg") no-repeat;
    background-size: 100% 100%;
}

#a6 {
    background: #ffffff url("../images/slides/6.jpg") no-repeat;
    background-size: 100% 100%;
}

#a7 {
    background: #ffffff url("../images/slides/7.jpg") no-repeat;
    background-size: 100% 100%;
}

#a8 {
    background: #ffffff url("../images/slides/8.jpg") no-repeat;
    background-size: 100% 100%;
}

#a9 {
    background: #ffffff url("../images/slides/9.jpg") no-repeat;
    background-size: 100% 100%;
}

#a10 {
    background: #ffffff url("../images/slides/10.jpg") no-repeat;
    background-size: 100% 100%;
}


#a11 {
    background: #ffffff url("../images/slides/11.jpg") no-repeat;
    background-size: 100% 100%;
}

#a12 {
    background: #ffffff url("../images/slides/12.jpg") no-repeat;
    background-size: 100% 100%;
}

#a13 {
    background: #ffffff url("../images/slides/13.jpg") no-repeat;
    background-size: 100% 100%;
}

#a14 {
    background: #ffffff url("../images/slides/14.jpg") no-repeat;
    background-size: 100% 100%;
}

#a15 {
    background: #ffffff url("../images/slides/15.jpg") no-repeat;
    background-size: 100% 100%;
}

#a16 {
    background: #ffffff url("../images/slides/16.jpg") no-repeat;
    background-size: 100% 100%;
}

#a17 {
    background: #ffffff url("../images/slides/17.jpg") no-repeat;
    background-size: 100% 100%;
}

#a18 {
    background: #ffffff url("../images/slides/18.jpg") no-repeat;
    background-size: 100% 100%;
}

#a19 {
    background: #ffffff url("../images/slides/19.jpg") no-repeat;
    background-size: 100% 100%;
}

#a20 {
    background: #ffffff url("../images/slides/20.jpg") no-repeat;
    background-size: 100% 100%;
}


#a21 {
    background: #ffffff url("../images/slides/21.jpg") no-repeat;
    background-size: 100% 100%;
}

#a22 {
    background: #ffffff url("../images/slides/22.jpg") no-repeat;
    background-size: 100% 100%;
}

#a23 {
    background: #ffffff url("../images/slides/23.jpg") no-repeat;
    background-size: 100% 100%;
}

#a24 {
    background: #ffffff url("../images/slides/24.jpg") no-repeat;
    background-size: 100% 100%;
}

#a25 {
    background: #ffffff url("../images/slides/25.jpg") no-repeat;
    background-size: 100% 100%;
}

#a26 {
    background: #ffffff url("../images/slides/26.jpg") no-repeat;
    background-size: 100% 100%;
}

#a27 {
    background: #ffffff url("../images/slides/27.jpg") no-repeat;
    background-size: 100% 100%;
}

#a28 {
    background: #ffffff url("../images/slides/28.jpg") no-repeat;
    background-size: 100% 100%;
}

#a29 {
    background: #ffffff url("../images/slides/29.jpg") no-repeat;
    background-size: 100% 100%;
}

#a30 {
    background: #ffffff url("../images/slides/30.jpg") no-repeat;
    background-size: 100% 100%;
}

#a31 {
    background: #ffffff url("../images/slides/31.jpg") no-repeat;
    background-size: 100% 100%;
}

#a32 {
    background: #ffffff url("../images/slides/32.jpg") no-repeat;
    background-size: 100% 100%;
}

#a33 {
    background: #ffffff url("../images/slides/33.jpg") no-repeat;
    background-size: 100% 100%;
}

#a34 {
    background: #ffffff url("../images/slides/34.jpg") no-repeat;
    background-size: 100% 100%;
}

#a35 {
    background: #ffffff url("../images/slides/35.jpg") no-repeat;
    background-size: 100% 100%;
}

#a36 {
    background: #ffffff url("../images/slides/36.jpg") no-repeat;
    background-size: 100% 100%;
}

#a37 {
    background: #ffffff url("../images/slides/37.jpg") no-repeat;
    background-size: 100% 100%;
}

#a38 {
    background: #ffffff url("../images/slides/38.jpg") no-repeat;
    background-size: 100% 100%;
}

#a39 {
    background: #ffffff url("../images/slides/39.jpg") no-repeat;
    background-size: 100% 100%;
}

#a40 {
    background: #ffffff url("../images/slides/40.jpg") no-repeat;
    background-size: 100% 100%;
}


#a41 {
    background: #ffffff url("../images/slides/41.jpg") no-repeat;
    background-size: 100% 100%;
}

#a42 {
    background: #ffffff url("../images/slides/42.jpg") no-repeat;
    background-size: 100% 100%;
}

#a43 {
    background: #ffffff url("../images/slides/43.jpg") no-repeat;
    background-size: 100% 100%;
}

#a44 {
    background: #ffffff url("../images/slides/44.jpg") no-repeat;
    background-size: 100% 100%;
}

#a45 {
    background: #ffffff url("../images/slides/45.jpg") no-repeat;
    background-size: 100% 100%;
}

#a46 {
    background: #ffffff url("../images/slides/46.jpg") no-repeat;
    background-size: 100% 100%;
}

#a47 {
    background: #ffffff url("../images/slides/47.jpg") no-repeat;
    background-size: 100% 100%;
}

#a48 {
    background: #ffffff url("../images/slides/48.jpg") no-repeat;
    background-size: 100% 100%;
}

#a49 {
    background: #ffffff url("../images/slides/49.jpg") no-repeat;
    background-size: 100% 100%;
}

#a50 {
    background: #ffffff url("../images/slides/50.jpg") no-repeat;
    background-size: 100% 100%;
}


#a51 {
    background: #ffffff url("../images/slides/51.jpg") no-repeat;
    background-size: 100% 100%;
}

#a52 {
    background: #ffffff url("../images/slides/52.jpg") no-repeat;
    background-size: 100% 100%;
}

#a53 {
    background: #ffffff url("../images/slides/53.jpg") no-repeat;
    background-size: 100% 100%;
}

#a54 {
    background: #ffffff url("../images/slides/54.jpg") no-repeat;
    background-size: 100% 100%;
}

#a55 {
    background: #ffffff url("../images/slides/55.jpg") no-repeat;
    background-size: 100% 100%;
}

#a56 {
    background: #ffffff url("../images/slides/56.jpg") no-repeat;
    background-size: 100% 100%;
}

#a57 {
    background: #ffffff url("../images/slides/57.jpg") no-repeat;
    background-size: 100% 100%;
}

#a58 {
    background: #ffffff url("../images/slides/58.jpg") no-repeat;
    background-size: 100% 100%;
}

#a59 {
    background: #ffffff url("../images/slides/59.jpg") no-repeat;
    background-size: 100% 100%;
}

#a60 {
    background: #ffffff url("../images/slides/60.jpg") no-repeat;
    background-size: 100% 100%;
}

#a61 {
    background: #ffffff url("../images/slides/61.jpg") no-repeat;
    background-size: 100% 100%;
}

#a62 {
    background: #ffffff url("../images/slides/62.jpg") no-repeat;
    background-size: 100% 100%;
}

#end {
    background: #ffffff url("../images/slides/back.jpg") no-repeat;
    background-size: 100% 100%;
}
